.months {
    display: flex;
    justify-content: space-between;
    max-width: 950px;
    width: 100%;
}

.retailSales {
    stroke: #4b9beb;
    stroke-width: 2.5px;
    fill: none;
}

.wholesaleSales {
    stroke: #9ea5b8;
    stroke-width: 2.5px;
    fill: none;
}

.graph {
    background: white;
    display: flex;
    margin-bottom: 5rem;
    padding: 1rem;
    flex-direction: column;
    color: #9ea5b8;
    height: auto;
    box-shadow: 0px 30px 40px -20px hsl(229deg 6% 66%);
}

.graphContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

