.header {
    display: flex;
    align-items: center;
    background-color: #052849;
    border-bottom: 1px solid lightgrey;
    padding: 1rem;
    height: 6vh;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2vh;
}

.productSubtitle {
    color: #5a5a5b;
    font-size: 15px;
    font-weight: lighter;
    margin:0;
}

.subtitleDiv{
    width:90%;
}

.productImage {
    width: 8rem;
}

.productTitle {
    margin: 1rem;
}

.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 23%;
    margin-left: 1vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
}

.overviewContainer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left: -160px;
    margin-top:10px;
}

.logoImage{
    height:20px;
    width:20px;
    margin-top:15px;
    margin-right:10px;
}

.overviewText{
    color:#9c9c9c;
    font-size:15px;
}

.tag {
    padding: 3px 15px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    display: flex;
    margin: 7px 0;
}

.tagMainContainer{
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}
.tagContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-left:1.5rem;
}
.tagName {
    font-size: 12px;
    color: #5c5c5c;
}